@import '~bootstrap/scss/bootstrap';

// Define variables
$primary-color: #007bff;
$secondary-color: #6c757d;

// Define styles for the header
.Header {
  background-color: $primary-color;
  color: white;

  .navbar-brand {
    img {
      height: 40px;
      margin-right: 10px;
    }
  }

  .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;

    &:hover, &:focus {
      color: $secondary-color;
    }

    &.active {
      color: $secondary-color;
    }
  }
}

// Define styles for the main content area
main {
  flex: 1;
  overflow-y: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-attachment: fixed;
  background-color: initial;
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.3) 0,
          rgba(0, 0, 0, 0.7) 75%,
          #000 100%
      ),
      url("../images/background1.jpg");
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.form{
    background-color: white;
    border-radius: 0.5%;
}
// Define global styles for the application
body {
  font-family: 'Roboto', sans-serif;
}
